* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    color-scheme: dark light;

    --padding-sm: 0.5em;
    --padding-md: calc(var(--padding-sm) * 2);
    --padding-lrg: calc(var(--padding-sm) * 3);
    --padding-etra-lrg: calc(var(--padding-sm) * 5);

    --margin-sm: 0.5em;
    --margin-md: calc(var(--padding-sm) * 2);
    --margin-lrg: calc(var(--padding-sm) * 3);
    --margin-etra-lrg: calc(var(--padding-sm) * 5);

    --bdr-radios: 6px;
}

@media (prefers-color-scheme: light) {
    :root {
        --black-semi-tp-clr: rgba(0, 0, 0, 0.6);
        --primary-clr: white;
        --dark-white-clr: rgba(238, 238, 238, 0.504);
        --green-clr: rgb(59, 87, 0);
    }
}

/* -------------- dark theme ----------------- */
@media (prefers-color-scheme: dark) {
    :root {
        --black-semi-tp-clr: rgba(0, 0, 0, 0.6);
        --primary-clr: black;
        --dark-white-clr: rgba(238, 238, 238, 0.112);
        --green-clr: rgb(59, 87, 0);
    }
}

.image__section {
    position: relative;
    text-align: center;
    background-color: var(--black-semi-tp-clr);
}

.image__section>img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.logo__section {
    background-color: var(--black-semi-tp-clr);
    color: var(--primary-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm);
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
}

.logo__text {
    font-size: clamp(1.2em, 5vw, 2em);
    font-weight: bold;
    color: white;
}

.image__refferance {
    position: absolute;
    width: 100%;
    bottom: .7rem;
    font-size: 12px;
}

.image__refferance>span {
    text-decoration: underline;
    font-weight: bold;
}




.login__form {
    background-color: var(--dark-white-clr);
    padding: var(--padding-lrg) 0;
}

.login__text {
    padding: var(--padding-lrg);
    margin-block: var(--padding-etra-lrg) var(--padding-lrg);
}

.login__text>p {
    margin-block: var(--padding-md);
}

.login__text>p>span {
    display: block;
}

h3 {
    margin: var(--margin-md) 0;
    font-size: clamp(1.5em, 5vw, 1.9em);
}

.inputs_labels>div {
    margin: var(--margin-md) 0;
}


form {
    background-color: var(--primary-clr);
    padding: var(--padding-lrg);
}

label {
    display: block;
    text-transform: uppercase;
    margin-inline-start: 4px;
}

input {
    width: 100%;
    font-size: 1.1em;
    padding: var(--padding-sm);
    border-radius: var(--bdr-radios);
}

input:focus {
    border-color: blue;
}

input[type=password]:valid {
    border-color: black;
}

input[type=password]:invalid {
    border-color: red;
}


button {
    padding: var(--padding-sm) var(--padding-lrg);
    margin: var(--margin-lrg) 0;
    background-color: var(--primary-clr);
    border: 2px solid var(--green-clr);
    border-radius: var(--bdr-radios);
    color: var(--green-clr);
    transition: all .6s;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover {
    color: var(--primary-clr);
    background-color: var(--green-clr);
}

.log_in {
    margin: var(--margin-lrg);
}

.log_in>a {
    color: var(--green-clr);
}

footer {
    padding: var(--padding-lrg);
    text-align: center;
}



/* ========================================================== */

.inputs_labels__login>input {
    margin-bottom: var(--margin-md);
}



/* ============================================================ */

@media screen and (min-width: 700px) {
    .main_conatnier {
        display: flex;
    }

    .image__section>img {
        width: 40vw;
        height:100%;
        object-fit: cover;
    }

}